<a href="https://colab.research.google.com/github/RachmaAyudyaw/MachineLearningDicodingGoogleResearchCollab/blob/main/K_means.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#ubah file csv menjadi dataframe
df=pd.read_csv('Mall_Customers.csv')

#tampilkan 3 baris pertama
df.head(3)

#ubah nama kolom
df=df.rename(columns={'Gender':'gender','Age':'age',
                      'Annual Income (k$)':'annual_income',
                      'Spending Score (1-100)': 'spending_score'})

#ubah data kategorik menjadi data numerik
df['gender'].replace()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6